<div class="container">
  <div class="mt-3 mb-3">
    <h2>Editar Perfil</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "deixe em branco se não quiser mudar",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "sua senha atual é necessária para confirmar as mudanças",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Atualizar", class: "btn btn-light btn-lg" %>
      </div>
    <% end %>

    <div class="mt-5">
    <h3>Apagar conta?</h3>
    </div>

    <div class="mt-4">Deseja apagar todos os seus dados? <%= button_to "Apagar minha conta", registration_path(resource_name), class: "btn btn-info btn-sm mt-5", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Voltar", :back, class: "btn btn-light btn-sm mt-4"  %>
    </div>
  </div>
</div>
