
<div class="container mt-5">
  <h2>Cadastrar</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }, label: "Nome"%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" }, label: "Senha
                  (mínimo de 6 caracteres)" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" }, label: "Senha"  %>
    </div>

    <div class="form-actions mt-5">
      <%= f.button :submit, "Cadastrar", class: "btn btn-light btn-lg" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
