<div class="container">
  <h1>Olá</h1>

  <div class="row">
  <% @user.groups.each do |group| %>
      <h3>Esse é resumo do seu grupo <p><%= group.group_name %></p></h3>
      <div class="d-flex flex-row">
    <%= link_to 'Saídas', group_outcomes_path(group), class: "btn btn-dark"%>
    <%= link_to 'Entradas', group_incomes_path(group), class: "btn btn-dark"%>
      </div>
  <% end %>
    <div class="col-sm-3">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Total de Entradas </div>
        <div class="card-body text-success">
          <h5 class="card-title">R$</h5>
        </div>
        </div>
      </div>
    <div class="col-sm-3">
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-danger">Total de Saídas </div>
        <div class="card-body text-danger">
          <h5 class="card-title">R$</h5>
        </div>
        </div>
      </div>
    <div class="col-sm-3">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-secondary">Resumo Mensal </div>
        <div class="card-body text-secondary">
          <h5 class="card-title">R$</h5>
        </div>
        </div>
      </div>

  <div class="row">
  <%= link_to  "Meus Grupos", groups_path, class: "btn btn-sm btn-dark me-2 mb-3 col-2" %>
  <%= link_to  "Novo Grupo", new_group_path, class: "btn btn-sm btn-dark me-2 mb-3 col-2" %>
  </div>
</div>
</div>
