<%= content_tag :tr, id: dom_id(income), class: dom_class(income) do %>
  <div class="container text-center">
    <td><%= income.date %></td></div>
    <td><%= income.income_category %></td>
    <td><%= income.description %></td>
    <td><%= income.value %></td>
    <td><%= income.user.name %></td>
  </div>
  <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#incomeModal-<%= income.id %>">Editar</button></td>
  <td><%=button_to 'Deletar', income_path(income), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Tem certeza?" } %></td>
<% end %>

<div class="modal fade" id="incomeModal-<%= income.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'edit', locals: {income: income} %>
      </div>
    </div>
  </div>
</div>
