<%= content_tag :tr, id: dom_id(outcome), class: dom_class(outcome) do %>
  <td class="text-center"><%= l outcome.date, format:  "%a, %d de %b" %></td>
  <td class="text-center"><%= outcome.outcome_category %></td>
  <td class="text-center"><%= outcome.description.truncate(25) %></td>
  <td class="text-center">R$ <%= outcome.value %> <span class="badge text-bg-warning"><%= outcome.payment_form %></span></td>
  <td class="text-center"><%= outcome.user.name %></td>
  <td>
    <div class="d-flex align-itens-center justify-content-around">
      <button type="button" class="btn btn-primary btn-sm w-25" data-bs-toggle="modal" data-bs-target="#outcomeModal-<%= outcome.id %>"><i class="fa-regular fa-pen-to-square"></i></button>
      <%=button_to outcome_path(outcome), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Tem certeza?" }, class:"btn btn-danger btn-sm w-100" do %>
      <i class="fa-regular fa-trash-can"  style="color: white;"></i>
      <% end %>
    </div>
  </td>


  <div class="modal fade" id="outcomeModal-<%= outcome.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render partial: 'edit', locals: {group: @group, outcome: outcome } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
